<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('./partials/links'); -%>
    
    <link rel="icon" type="image/svg" href="./img/keyboard-solid.svg" sizes="16x16" >

</head>

<body>
    <%- include('./partials/navbar'); -%>

    <div class="container my-5 ">        
            <div class="col-lg-8 text-center">
                <img src="./img/programador.png" class="animated bounceIn" alt="David-Matos-Desarrollando">
            </div>       
    </div>

    <!--SECTION ONE-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">

                <i class="fab fa-react fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <p>
                    <h3> I'm David</h3> I like to develop especially in react and I would like to get to work for a
                    large company like google or
                    react, I would also settle for earning a lot of money :V
                </p>
            </div>
            
        </div>
    </div>
    <%- include('./partials/footer'); -%>

</body>

</html>